html,body{
    height:100%;
}

body{
    margin: 0;
    background-image:url('../images/BackgroundFront.png'),url('../images/BackgroundBack.png');
    /* 이미지를 두개 채울경우 */
    background-size:100%;
    /* background-size : 공간(창)의 너비를 기준으로 background이미지를 채워줌.  */
    background-repeat:repeat-x;
    background-position:center ;

    background-attachment:fixed;
    /* background image를 고정(휠 조작시 이미지 고정) */
    /* fixed != scroll */
}

p{
    height:2000px;
}
