*{
    margin:0;
    padding:0;
}
div{
    color:black;
    width:200px;
    height:200px;
    margin-bottom:10px;
}

.brown{
    background-color:burlywood;
    
}
.yellow{
    background-color:yellow;
}
.green{
    background-color:rgb(80, 223, 80);
}