html,body{
    height:100%;
}
body{
    margin:0;
    background-color:black;
}
body>div:first-of-type{
    background-color:grey;
    width:50%;
    height:50%;
    position:absolute;
    top:25%;
    left:25%;
}
body>div:first-of-type nav{
    background-color:red;
}
body>div:first-of-type nav ul{
    margin:0;
    padding:0;
}

body>div:first-of-type nav ul li{
    width:25%;
    float:left;
    display:block;
    text-align:center;
}

body>div:first-of-type nav ul li a{
    display:block;
    text-align:center;
}