@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

body{
    font-family: 'Nanum Gothic';
}



/* ================================================================ */
h1{
    font-size: 20px; 
    line-height: 30px; 
    width: 50px; 
    color: rgba(30,30,30,0.75);
}


h2{
    font-size:15px; 
    line-height:21px; 
    color:#966;
}


h3{
    font-size:13px; 
    line-height:19px; 
    color:#F90;
}
/* ================================================================ */




/* ================================================================ */
p{
    font-size: 14px;
}

p.letter{
    letter-spacing: 20px;
    /* 글자 간 간격 */
}

p.word{
    word-spacing: -5px;
    /* 단어 사이의 간격 */
}
/* ================================================================ */





/* ================================================================ */
p.w_normal{
    width: 150px; 
    white-space: normal; 
    /* width에 맞춰서 텍스트가 나오도록 함 */
    line-height: 21px;
    border: 3px solid greenyellow;
}
p.w_nowrap{
    width: 350px; 
    white-space: nowrap; 
    /* 텍스트가 무조건 일자로만 나오게 함 */
    text-overflow: ellipsis;
    /* 텍스트가 width를 넘겼을때 나오는 모습 */
    overflow: hidden; 
    /* 넘어간건 감춰주기 */
    border: 3px solid greenyellow;
}
/* ================================================================ */


/* 이부분 */
.v_alignTest img{
    width: 500px; height: 500px; vertical-align: 10%;
}
.v_alignTest span{
    vertical-align: 30%;
}
/* 여기잘모르겠음 */



p.t_indent{
    text-indent: 200px; font-size: 40px;
}
.testIndent{
    background: url('https://via.placeholder.com/150x50?text=blablaButton');
    border: none; width: 150px; line-height: 50px; font-size: 12px;
    text-indent: -9999px;
}

a{
    display:block;
    /* a는 inline이라 글자처럼 취급됨 */
    line-height:35px;
    /* 글자간의 간격(높이) */
}


/* ============================================================ */
a.t_deco_N{text-decoration : none; text-transform:none; color:#090;}
/* a태그는 text-decoration의 default가 underline이다. decoration을 none을주면 밑줄이 삭제됨 */
a.t_deco_U{text-decoration : underline; text-transform:lowercase; color:#0cf;}
/* a태그의 text-decoration에 underline을 넣어주는 경우는 없다 */
/* lowercase : 소문자로 변환 , 사용자의 화면에 소문자로 강제 출력(영문만) */
a.t_deco_O{text-decoration : overline; text-transform:capitalize; color:#7ac;}
/* capitalize : 영문 앞자를 대문자로 변환 */
a.t_deco_T{text-decoration : line-through; text-transform:uppercase; color:#c79;}
/* uppercase : 대문자로 변환 */
/* linethorugh : 텍스트를 가로지르는 줄 생성  (<delete>)*/
/* ============================================================ */




/* ============================================================ */
/* <텍스트 진행 방향> */
p.DR_ltr{
    direction:ltr;
}
/* left to right */

p.DR_rtl{
    direction:rtl
}
/* right to left */
/* ============================================================ */
