@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Nunito:wght@200;300;400;600;700&display=swap');

body{
    width:50%;
    margin:0 auto;
    border-radius:10px;
}
header{
    height:50px;
    background:linear-gradient(60deg,pink,rgb(231, 139, 231),skyblue);
    text-align:center;
    border-radius:10px 10px 0 0;
}
.logo{
    color:white;
    font-family: 'Nunito', sans-serif;
    margin:0;
}
section{
    margin-top:10px;
    width:100%;
}
.slide{
    display:block;
    padding:0 30px;
    margin-bottom:10px;
    border-bottom:1px solid rgb(187, 183, 183);
}
.slide span{
    font-family:'Nunito';
}
.slide i{
    float:right;
    line-height:22px;
    cursor:pointer;
}
.slide i:after{
    clear:both;
}
footer{
    height:50px;
    line-height:50px;
    background:linear-gradient(60deg,pink,rgb(231, 139, 231),skyblue);
    text-align:center;
    border-radius:0 0 10px 10px;
}
.input #inputproduct{
    width:99%;
    border:none;
}
footer i{
    font-size:30px;
    cursor:pointer;
}