body{
    margin:0 auto;
    padding:0;
    width:80%;
}
body>h1:not(h1>a){
    color:grey;
    position:relative;
    font-size:30px;
    font-weight:normal;
}
h1 a{
    position:absolute;
    right:0px;
    bottom:0px;
    font-size:20px;
}

form fieldset{
    border-width:5px 0 2px;
    border-style:solid none;
    position:relative;
}
form fieldset input[type='search']{
    border-color:red;
    background-color:coral;
    max-width:150px;
}
form fieldset input[type='button']{
    border-color:red;
    max-width:150px;
    background-color:green;
    color:white;
}
form fieldset select{
    position:absolute;
    right:0px;
    max-width:200px; 
    width:30%;
}
body>h2 strong{
    color:skyblue;
}

ul{
    list-style:none;
    padding:0;
}
ul li{
    position:relative;
}
ul li span{
    display:inline-block;
    font-size:14px;
    padding-left:2%;
    padding-right:2%;
}
ul li span:not(span:nth-child(2)){
    width:15%;
}
ul li span:nth-child(2){
    width:35%;
}
ul li:first-child{
    border-style:solid;
    border-width:3px 0 1px;
    border-color:red;
    padding:20px;
}
ul li:not(li:first-child){
    border-style:solid;
    border-width:0 0 1px;
    padding:10px 10px 10px 20px;
}
ul li:not(:nth-child(2n)):hover{
    background-color:skyblue;
}
ul li:nth-child(2n){
    background-color:grey;
}
ul li:nth-child(2n):hover{
    background-color:black;
    color:white;
}
ul li mark{
    position:absolute;
    top:0;
    right:0;
    font-size:13px;
    border-style:solid;
    border-color:red;
    border-width:1px;
}
body>div{
    max-width:400px;
    margin:0 auto;
    position:relative;
}
body>div>a{
    position:absolute;
}
body>div>a:first-child{
    left:0;
}
body>div>a:nth-child(2){
    right:0;
}
body>div>ol{
    list-style:none;
    text-align:center;
    padding:0;
}
body>div ol li{
    display:inline-block;
    padding:0 1.5%;
}
body>div ol li a{
    text-decoration:none;
    display:block;
}