body{
    background-color:black;
}
.line{
    position:absolute;
    background-color:white;
    z-index:1000;
}

.horizontal{
    width:100%;
    height:1px;
    top:50%;
}

.vertical{
    height:100%;
    width:1px;
    left:50%;
    
}

.target{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index:1000;
}
/* #enemy{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
} */



#shoot{
    position:absolute;
    width:100px;
    height:100px;
    left:100px;
    top:100px;
    background-color:yellowgreen;
    text-align:center;
    color:black;
}

.score{
    color:white;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(20px,20px);
    font-size:30px;
}
