body{
    margin:0;
    padding:0;
}
.header{
    width:50%;
    margin:0 auto;
    background-color:#3b5999;
    text-align:center;
}
.header h1{
    color:white;
}
.content{
    width:50%;
    margin:0 auto;
}
#todoform{
    display:flex;
}
.submit{
    background-color:#3b5999;
    border:none;
    color:white;
    border-radius:50px;

}
#todolist{
    padding:0;
    list-style:none;
    text-align:center;
}
#notice{
    color:red;
    display:none;
}